/* Reset et styles globaux */
* {
    padding: 0;
    margin: 0;
}


body {
    background-color: #CBCBCB;
    margin: 0;
    font-size: 14px;
    color: #2E373A;
    font-family: "Noto Serif JP", serif;
    padding-bottom: 0;
}

/* Layout principal */
main {
    width: min(1400px, 100vw);
    margin: auto;
    padding: 20px;
}

/* Header */
header {
    font-family: "Noto Serif JP", serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header img {
    height: 40px;
}

/* Section Bannière */
.banner .content {
    font-family: "Odibee Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.banner .content h1 {
    font-size: 14vw;
    mix-blend-mode: multiply;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
}

.banner .content .right {
    text-align: right;
    transform: translateY(-30px);
}

.banner .content .right h2 {
    font-size: 7em;
    font-weight: 200;
}

.banner .image {
    margin-top: 70px;
    width: 100%;
    height: 500px;
    border-radius: 30px;
    position: relative;
}

.banner .image img {
    position: absolute;
    height: 130%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
}

/* Background menu */
.backgroundMenu {
    position: absolute;
    top: 56%;
    z-index: -6;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border: solid black 3px;
    height: 60%;
    background-image: url(images/backgroundMetal.jpg);
}


/* Section2 Introduction */
.introduction {
    text-align: center;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 50px;
    margin-top: 10%;
}

.container-image-introduction {
    
    display: flex;
    flex-direction: column;
    position: relative;
}

.introduction .imgProduit {
    max-width: 100%;
    height: auto;
    border: solid 10px black;
    animation: introAppear;
    animation-timeline: view(80% auto);
}

.introduction .imgProduit:hover {
    filter: blur(10px);
    transition: all ease-in-out 0.2s;
}

.titleImage {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 590px;
}

.titleImage h1 {
    font-size: 9em;
    text-transform: uppercase;
    mix-blend-mode:normal;
}

.contentImage {
    display: flex;
    text-align: end;
    max-width: 690px;
}

.contentImage p {
    font-size: 3.5em;
    line-height: 1;
    margin-left: 100px;
    margin-top: 20px;
    animation: textSlideLeft;
    
    animation-timeline: view(50% auto);
}

/* Éléments décoratifs(mouth with grils) */


.golden-grillz {
    position: absolute;
    z-index: -1;
    width: 30%;
}

.golden-grillz.right {
    width: 50%;
    border: none;
    pointer-events: none;
    left: -130%;
    bottom: 0%;
    animation: introAppear both;
    animation-timeline: view(80% auto);
}

.golden-grillz.left {
    width: 60%;
    pointer-events: none;
    border: none;
    left: -45%;
    bottom: 0%;
    animation: introAppear both;
    animation-timeline: view(100% auto);
}

/* Classes d'animation */
.blurOut.one,
.blurOut.two,
.blurOut.three,
.blurOut.four {
    filter: blur(30px);
    animation: blurOut1 2.7s ease-in-out forwards;
    animation-timeline: view(60% auto);
}



/* Slider animation*/
.slider {
    --width: 400px;
    --height: 400px;
    --number-item: 8;
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #faf3f3 10% 90%,
        transparent
    );
}


.slider .list {
    transform-style: preserve-3d;
    transform: perspective(1000px);
    display: flex;
    width: 100%;
    min-width: calc(var(--width)* var(--number-item));
    position: relative;
}

.slider .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    transition: .5s;
    filter:brightness(1);
    left: 100%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc( (10s / var(--number-item))* (var(--position) - 1) ) ;
}
.item.first:hover ~ .item {
    filter: brightness(0.6) blur(5px);
    transform: scale(0.98);
  }

  .item.last:hover ~ .item {
    filter: brightness(0.6) blur(5px);
    transform: scale(0.98);
  }

  .item.second:hover ~ .item {
    filter: brightness(0.6) blur(5px);
    transform: scale(0.98);
  }
  .item.second-last:hover ~ .item {
    filter: brightness(0.6) blur(5px);
    transform: scale(0.98);
  }
  .item.last:hover ~ .item {
    filter: brightness(0.6) blur(5px);
    transform: scale(0.98);
  }
 

/* Éléments suivants au hover (éléments après l'élément survolé) */
.slider .list .item:hover + *,
.slider .list .item:hover + * + *,
.slider .list .item:hover + * + * + * {
    transform: scale(0.98);
    filter: brightness(0.4) blur(5px);
}

/* Éléments précédents (ceux avant l'élément survolé) avec :has */
.slider .list .item:has(+ *:hover),
.slider .list .item:has(+ * + *:hover),
.slider .list .item:has(+ * + * + *:hover) {
    transform: scale(0.98);
    filter: brightness(0.6) blur(5px);
}

.list:has(.item.last:hover) .item.first,
.list:has(.item.last:hover) .item.first+ *,
.list:has(.item.last:hover) .item.first+ *+*,
.list:has(.item.last:hover) .item.first+ *+*+* {
  filter: brightness(0.6) blur(5px);
  transform: scale(0.98);
}
.list:has(.item.item.second-last:hover) .item.first,
.list:has(.item.item.second-last:hover) .item.first+ *,
.list:has(.item.item.second-last:hover) .item.first+ *+*,
.list:has(.item.item.second-last:hover) .item.first+ *+*+* {
  filter: brightness(0.6) blur(5px);
  transform: scale(0.98);
}




.slider .list .item img {
    width: 100%;
    height: 100%;
    border: solid 0px black;
}

.slider:hover .item{
    animation-play-state: paused!important;
}


/* Keyframes */
@keyframes blurOut1 {
    from {
        filter: blur(30px);
    }

    to {
        filter: blur(0px);
    }
}

@keyframes textSlideLeft {
    from {
        opacity: 0;
        filter: blur(30px);
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
    }
}

@keyframes growAndRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes growAndRotateInverse {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes leftAppear {
    from {
        opacity: 0;
        transform: translateX(-400px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rightAppear {
    from {
        opacity: 0;
        transform: translateX(400px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes introAppear {
    from {
        transform: translateY(300px) scale(0.3);
    }

    to {
        transform: translateY(0) scale(1);
    }
}
@keyframes autoRun {
    from{
        left: calc(var(--width) * -1);
    }
    
    to{
        left:100%;
    }
    
}

